@import "tailwindcss";

@theme {
  --font-display: "Red Hat Display", sans-serif;
  --font-body-1: "Raleway", sans-serif;

  --color-cream: #FFF9E5;
  --color-yellow: #FDC435;
  --color-yellow-100: ##FAF3E1;
  --color-service-card: #F9B35C;
  --color-yellow-hover: #E5B02A;

  --color-gray: #828282;
  --color-primary: #F9F5F2;
  --color-accent-purple: #E7A5E5;
  --color-accent-blue: #A0D2EB;
  --color-accent-green: #D0F4DE;
  --color-accent-orange: #FFD6A5;



  /* Primary Colors */
  --color-primary-50: #F9F5F2;
  --color-primary-100: #FAF3E1;
  --color-primary-200: #FFE9B9;
  --color-primary-300: #FEC447;

  /* Secondary Colors */
  --color-blue-50: #DDE5FF;
  --color-blue-100: #C1D3FF;
  --color-blue-200: #AEC5FF;
  --color-blue-300: #92A8ED;
  --color-blue-400: #5373D8;
  --color-blue-500: #647ABF;

  /* Pink Colors */
  --color-pink-50: #FCDFF2;
  --color-pink-100: #FFC7F3;
  --color-pink-200: #FFB5EF;
  --color-pink-300: #FD91E6;


  /* Green Colors */
  --color-green-50: #C5EDEA;
  --color-green-100: #8ECAC2;
  --color-green-200: #5FD1C6;
  --color-green-300: #239F93;
  --color-green-400: #0A7373;


  /* Orange Colors */
  --color-orange-50: #FFD5A5;
  --color-orange-100: #FECCB5;

  /* Base Colors */
  --color-dark: #111111;

  /* Header Specific Colors */
  --color-header-bg: #FEC447;
  --color-header-border: #DAA93F;


  --color-btn-bg: #FAF3EB;
  --color-btn-border: #111111;
  --color-dotted-border:#594A27;
  --color-secondary: #FAF3E1;


  --spacing-4\.5: 1.125rem;
  /* 60px */
  --spacing-15: 5rem;
  --spacing-30: 7.5rem
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark);
  font-family: var(--font-body-1);
}

p {
  font-family: var(--font-body-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

.blurred-ellipse {
  width: 150px;
  height: 150px;
  /* Different width/height creates an ellipse */
  background-color: rgba(249, 179, 92, 0.5);
  /* Partially transparent white background */
  border-radius: 50%;
  /* This makes the div an ellipse/circle */
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(60px);
}

.glow-blob {
  width: var(--w);
  height: var(--h);

  background: var(--color);
  border-radius: 50%;
  filter: blur(var(--blur));

  pointer-events: none;
}

.glow-ellipse-30 {
  --w: 200px;
  --h: 210px;
  --blur: 180px;
  --color: rgba(249, 179, 92, 0.6);
}

.glow-ellipse-31 {
  --w: 260px;
  --h: 260px;
  --blur: 200px;
  --color: rgba(250, 243, 225, 0.7);
}